body{
	padding: 30px;
}
.logo-img{
	width: 100px;

}
.logo{
	display: inline-block;
	vertical-align: middle;
	margin-right: 50px;
}
.navbar{
	display: inline-block;
}
.navbar-li{
	display: inline-block;
	margin-right: 20px;
}
.navbar-a{
	font-size: 22px;
	color: #3D58A6;
	font-weight: bold;
}
.navbar-a span{
	color: #EE4036;
}
.contact{
	display: inline-block;
	color: #808080;
	font-size: 16px; 
	background-color: #E6E6E6;
	margin-top: 30px;
	width: 100%;
	padding: 50px 150px 55px 30px;

}
.cont-info{
	color: #3D58A6; 
	font-weight: bold;
	font-size: 20px;
	padding-bottom: 10px;

}
.add{
	padding-bottom: 5px;
}
.tel{
	padding-bottom: 5px;
}
.add span{
	color: #000000;
	font-weight: bold;
}
.tel span{
	color: #000000;
	font-weight: bold;

}
.mail span{
	color: #000000;
	font-weight: bold;
}
.map-img{
	height: 450px;
	padding: 50px 160px 50px 335px;

}
.fb{
	height: 25px;
	margin-top: 30px;
	padding-right: 30px;
}
.line{
	height: 25px;
	margin-top: 30px;
	padding-right: 30px;
}
.youtube{
	height: 25px;
	margin-top: 30px;
}